.editor-styles-wrapper .is-layout-flow .page__wrapper .info-page,
.is-layout-flow .page__wrapper .info-page, .info-page  {
  &__container {
    max-width: 80%;
    min-width: 50%;

    margin-block-start: 2.5rem;
    margin-block-end: 2.5rem;

    margin-left: auto;
    margin-right: auto;

    padding: 2.5rem;
    background: var(--wp--preset--color--contrast-10);

    @media (max-width: 1145px) {
      max-width: 100%;
    }

    @media (max-width: 600px) {
      padding-left: 0.5rem;
      padding-right: 0.5rem;

      * {
        font-size: var(--wp--preset--font-size--small);
      }
    }
  }
}