.editor-styles-wrapper .block-review-content, .block-review-content {
  max-width: 70%;

  background-color: var(--wp--preset--color--contrast-10);

  padding: 6px 30px;
  margin: 0 auto;

  font-size: var(--wp--preset--font-size--small);

  @media (max-width: 600px) {
    max-width: unset;
  }


  iframe {
    width: 100%;
    height: auto;

    aspect-ratio: 16 / 9;

    margin: 24px 0;
  }
}