.editor-styles-wrapper .sections-reviews-carousel .wp-block-buttons,
.sections-reviews-carousel .wp-block-buttons {
  -webkit-margin-before: 72px;
          margin-block-start: 72px;
}

.editor-styles-wrapper .reviews-carousel *,
.reviews-carousel * {
  color: var(--wp--preset--color--base);
}

.editor-styles-wrapper .reviews-carousel__container,
.reviews-carousel__container {
  padding: 0 15px;
}

.editor-styles-wrapper .reviews-carousel__container--light *,
.reviews-carousel__container--light * {
  color: var(--wp--preset--color--base-2);
}

.editor-styles-wrapper .reviews-carousel__item,
.reviews-carousel__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.editor-styles-wrapper .reviews-carousel__item-container,
.reviews-carousel__item-container {
  width: 14.2083333333rem;
}

.editor-styles-wrapper .reviews-carousel__item-container--video,
.reviews-carousel__item-container--video {
  width: 17.7916666667rem;
}

.editor-styles-wrapper .reviews-carousel__item-container--video .reviews-carousel__content,
.reviews-carousel__item-container--video .reviews-carousel__content {
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
}

.editor-styles-wrapper .reviews-carousel__header,
.reviews-carousel__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.08333333333rem;
  min-height: 2.875rem;
}

.editor-styles-wrapper .reviews-carousel__author-name,
.reviews-carousel__author-name {
  margin: 0;
  font-family: var(--wp--preset--font-family--heading);
  font-size: var(--wp--preset--font-size--medium);
  line-height: 1.25;
}

.editor-styles-wrapper .reviews-carousel__author-role,
.reviews-carousel__author-role {
  margin: 5px 0 0;
  font-size: var(--wp--preset--font-size--e-small);
}

.editor-styles-wrapper .reviews-carousel__item .editor-styles-wrapper .reviews-carousel__photo img,
.reviews-carousel__item .editor-styles-wrapper .reviews-carousel__photo img,
.editor-styles-wrapper .reviews-carousel__item .reviews-carousel__photo img,
.reviews-carousel__item .reviews-carousel__photo img {
  width: 2.875rem;
  height: 2.875rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.editor-styles-wrapper .reviews-carousel__content,
.reviews-carousel__content {
  font-size: var(--wp--preset--font-size--ee-small);
}

.editor-styles-wrapper .reviews-carousel__content *,
.reviews-carousel__content * {
  color: var(--wp--preset--color--base);
}

.editor-styles-wrapper .reviews-carousel__content iframe,
.reviews-carousel__content iframe {
  width: 100%;
  max-height: 100%;
}

.editor-styles-wrapper .reviews-carousel__content .cut-text,
.reviews-carousel__content .cut-text {
  max-height: 242px;
  overflow: hidden;
  position: relative;
}

.editor-styles-wrapper .reviews-carousel__content .cut-text:after,
.reviews-carousel__content .cut-text:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1.79166666667rem;
  background: #ffffffc7;
}

.editor-styles-wrapper .reviews-carousel__link,
.reviews-carousel__link {
  font-size: var(--wp--preset--font-size--ee-small);
  color: var(--wp--preset--color--contrast-11);
  text-decoration: underline;
  text-underline-offset: 4px;
}

.editor-styles-wrapper .reviews-carousel .owl-nav button.owl-prev,
.reviews-carousel .owl-nav button.owl-prev {
  left: -25px;
}

.editor-styles-wrapper .reviews-carousel .owl-nav button.owl-next,
.reviews-carousel .owl-nav button.owl-next {
  right: -25px;
}

.editor-styles-wrapper .reviews-carousel .owl-nav button.owl-prev,
.editor-styles-wrapper .reviews-carousel .owl-nav button.owl-next,
.reviews-carousel .owl-nav button.owl-prev,
.reviews-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--wp--preset--font-size--xx-large);
  color: var(--wp--preset--color--contrast-4);
  opacity: 0.2;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.editor-styles-wrapper .reviews-carousel .owl-nav button.owl-prev:hover,
.editor-styles-wrapper .reviews-carousel .owl-nav button.owl-next:hover,
.reviews-carousel .owl-nav button.owl-prev:hover,
.reviews-carousel .owl-nav button.owl-next:hover {
  opacity: 1;
  background: transparent;
}

.editor-styles-wrapper .reviews-carousel .owl-item,
.reviews-carousel .owl-item {
  z-index: 2;
}

@media (max-width: 1145px) {
  .editor-styles-wrapper .reviews-carousel__content,
  .reviews-carousel__content {
    font-size: var(--wp--preset--font-size--e-small);
  }
}

@media (max-width: 600px) {
  .editor-styles-wrapper .reviews-carousel__author-name,
  .reviews-carousel__author-name {
    font-size: var(--wp--preset--font-size--large);
  }

  .editor-styles-wrapper .reviews-carousel__content,
  .reviews-carousel__content {
    font-size: var(--wp--preset--font-size--small);
  }

  .editor-styles-wrapper .reviews-carousel__link,
  .reviews-carousel__link {
    font-size: var(--wp--preset--font-size--e-small);
  }

  .editor-styles-wrapper .reviews-carousel__buttons,
  .reviews-carousel__buttons {
    text-align: center;
  }

  .editor-styles-wrapper .reviews-carousel .owl-stage,
  .reviews-carousel .owl-stage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 599px) {
  .editor-styles-wrapper .reviews-carousel__item-container,
  .reviews-carousel__item-container {
    width: 26rem;
  }
}