/** Base */
@import "base/_animation.scss";
@import "base/_global.scss";
@import "base/_buttons.scss";
@import "base/_titles.scss";
@import "base/_tabs.scss";
@import "base/notification";
@import "base/_pagination";

/** Sections */
@import "sections/_section-about-us.scss";
@import "sections/_section-courses.scss";
@import "sections/_product-block-grid.scss";
@import "sections/_section-group.scss";
@import "sections/section-ether";
@import "sections/section-our-community";
@import "sections/section-our-preferences";
@import "sections/section-we-offer";
@import "sections/section-our-principles";
@import "sections/section-call-to-action";
@import "sections/sections-reviews";
@import "sections/header-woocommerce-category";
@import "sections/section-quote";
@import "sections/section-categories-grid";
@import "sections/_section-price-filter.scss";

/** Parts */
@import "parts/_header.scss";
@import "parts/_footer.scss";

/** pages */
@import "pages/_product-category";
@import "pages/_product-single";
@import "pages/_review-single.scss";
@import "pages/_info-page.scss";
@import "pages/_page-404.scss";